<div
  class="jumbotron"
  style="background-color: gainsboro; padding: 140px; font-weight: bolder"
>
  <h1>WASH in HCF</h1>
</div>

<div class="" style="position: absolute; left: 80%; top: 70%">
  <h5>Eight Prictical Steps</h5>
  <div class="row buttons">
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Primary Health Care</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Pediatric Clinc</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Gynaocological Clinc</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Outpatient Clinc</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Primary Health Care</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Ophthaimlogy Clinc</button>
    </div>
    <h5 class="mt-4" style="margin-left: 40px">Documents</h5>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Download PDF</button>
    </div>
    <div class="col-md-12 col-xs-3">
      <button class="btn btn-light">Download Doc</button>
    </div>
  </div>
</div>

<div
  class="border mt-5"
  style="background-color: gainsboro; width: 50%; height: 300px; margin: auto"
></div>

<div class="card" style="width: 50%; border: none; margin: auto">
  <div class="card-body">
    <h5 class="card-title">Dental implant Surgery</h5>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>
    <div class="card-body" style="background-color: gainsboro">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <i class="fa fa-circle"></i>
            Free Consultation
          </div>
          <div class="col-xs-6 col-md-6">
            <i class="fa fa-circle"></i>
            Fitness Assessment
          </div>
          <div class="col-xs-6 col-md-6">
            <i class="fa fa-circle"></i>
            24 Hours Service
          </div>
          <div class="col-xs-6 col-md-6">
            <i class="fa fa-circle"></i>
            Discounts & Update
          </div>
        </div>
      </div>
    </div>
    <h5 class="card-title mt-3">Labportaory Tests For Dental Surgery</h5>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>

    <h5 class="card-title mt-3">Professional Care Provider</h5>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>
    <p class="card-text" style="text-align: justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aperiam,
      asperiores eius necessitatibus expedita cum. Molestiae pariatur non illum
      dolorem, dolores delectus excepturi dolor, ab sapiente illo fugiat quis
      odio.
    </p>
  </div>
</div>

<div style="margin-left: 25%" class="mt-4">
  <div class="row card-footer" style="margin: auto">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>

<app-footer></app-footer>
