<div
  class="jumbotron"
  style="background-color: gainsboro; padding: 140px; font-weight: bolder"
>
  <h1>Contact Us</h1>
  <p>Home-contact</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="contact-phone">
                <div class="phone">
                    <i class="fa fa-phone"></i>


                </div>
                <div class="phone-info">
                    <p>Phone:</p>
                    <p>123</p>
                    <p>123</p>
                </div>

            </div>
            
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="contact-phone">
                <div class="phone">
                    <i class="fa fa-envelope"></i>

                </div>
                <div class="phone-info">
                    <p>Email</p>
                    <p>123</p>
                    <p>123</p>
                </div>

            </div>
            
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="contact-phone">
                <div class="phone">
                    <i class="fa fa-location-dot"></i>


                </div>
                <div class="phone-info">
                    <p>Address:</p>
                    <p>123</p>
                    <p>123</p>
                </div>

            </div>
            
        </div>
    </div>
</div>

<div>
    <div class="text">
        <h1>Instersted in Discussing?</h1>
        <h2>Contact Now.</h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam tenetur aliquam eligendi aperiam officia natus et dolorem, accusantium velit eveniet laborum blanditiis illum, harum nulla. Sunt enim nemo ducimus necessitatibus.


    </div>

    <form action="">
        <div class="form-group">
            <input type="text" placeholder="Name:" class="form-control" >
            <input type="email" placeholder="Email:" class="form-control" >
            <input type="number" placeholder="phone" class="form-control"  >
            <textarea name="" class="form-control mt-4" placeholder="Message" id="" cols="30" rows="10"></textarea>

        </div>
        
            </form>
            <div class="contianer">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <button class="btn btn-primary">
                            Send
                        </button>
        
                    </div>
                </div>
        
            </div>
</div>
<app-footer></app-footer>

